@import "../styles/base";

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: $color1;
    padding: $pad1;
    border-radius: $bradius;
    position: relative;
    max-width: 500px;
    width: 100%;
    text-align: center;
}

.close-button {
    position: absolute;
    top: $pad2;
    right: $pad2;
    background: none;
    border: none;
    font-size: $font1;
    cursor: pointer;
}

.modal-btn {
    border: none;
    padding: $pad2 $pad1;
    cursor: pointer;
    margin-top: $pad1;
    margin-right: 4px;
    font-size: $font1;
    border-radius: $bradiusbtn;
}

.close-modal-button {
    background-color: $color4;
    color: $color1;
    &:hover {
        background-color: $color2;
    }
}

.link-button {
    background-color: $color2;
    color: $color1;
}

.link-button:hover {
    background-color: $color3;
}
